@import url("https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Semantic UI */

.search-wrapper .ui.input {
  align-items: center;
}

/* .search-wrapper .listbox {
  position: relative;
} */

/* .search-wrapper .menu.transition {
  position: absolute;
  display: none;
} */

/* .search-wrapper .item,
.search-wrapper .divider.text {
  background-color: #ebebeb;
  padding: 11.5px 15px;
  pointer-events: all;
  font-size: 14px;
  color: #575757;
  cursor: default;
} */

/* .search-wrapper .divider.text {
  font-weight: 700;
} */

.search-wrapper .ui.dropdown .menu>.item,
.search-wrapper .ui.selection.dropdown {
  border-bottom: 1px solid #d4d3d3;
  transition: 200ms ease;
  background-color: #ebebeb;
  padding: 11.5px 15px;
  pointer-events: all;
  font-size: 14px;
  color: #575757;
  cursor: default;
}

.search-wrapper .ui.selection.dropdown {
  font-weight: 700;
  margin: 0;
}

.search-wrapper .ui.dropdown .menu>.item:hover {
  color: #ffffff;
}

.search-wrapper .ui.dropdown .menu>.item:nth-child(1) {
  color: #575757;
}

.search-wrapper .ui.dropdown .menu>.item:nth-child(2):hover {
  background-color: #5db65f;
}

.search-wrapper .ui.dropdown .menu>.item:nth-child(3):hover {
  background-color: #59c6e5;
}

.search-wrapper .ui.dropdown .menu>.item:nth-child(4):hover {
  background-color: #6659b0;
}

.search-wrapper .ui.dropdown .menu>.item:nth-child(5):hover {
  background-color: #ffad26;
}

.search-wrapper .ui.dropdown .menu>.item:nth-child(6):hover {
  background-color: #ea6847;
}

.search-wrapper input[type="text"] {
  border: 0;
  padding: .5rem;
}

.search-wrapper input[type="text"]::placeholder {
  color: #838383;
}

.search-wrapper .ui.button.search-submit-button {
  display: none;
}

@media (min-width: 600px) {
  .search-wrapper .ui.button.search-submit-button {
    display: block;
    background-color: transparent;
    border: 0;
    padding: 0 1rem;
    font-size: 1.5rem;
  }
}
